.allWeeks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  width: 100%;
  overflow-x: auto;
}

.weeks {
  display: flex;
  gap: 5px;
}

.oneWeek {
  width: 110px;
  height: 50px;
  border: 1px solid green;
  background-color: rgb(152, 223, 130);
  border-radius: 5px;
  cursor: pointer;
}

.gray {
  border: 1px solid gray;
  color: gray;
  background-color: rgba(128, 128, 128, 0.274);
  cursor: auto;
}

.orange {
  border: 1px solid orangered;
  color: orangered;
}

.active {
  border: 2px solid blue;
  background-color: rgb(130, 133, 223);
}
